body{
  background-color: rgb(79, 83, 83);
  color: white;
}

.personalDisplay{
  margin: 0 auto;
  padding: 1rem 3rem 1rem 3rem;
}

.personalDisplay > h1{
  color: rgb(20, 235, 206);
}

.experience{
  margin: 0 auto;
  padding: 1rem 3rem 1rem 3rem;
}

.experience > h1{
  color: rgb(20, 235, 206);
}

.mainContainer{

}

.personalForm{
  margin: 0 auto;
  /* padding: 3rem; */
  display: grid;
  grid-template-columns: 1fr;
}

input{
  margin-left: 1rem;
}


button{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 5rem;
  height: 2.5rem;
  line-height: 35px;
  text-align: center;
}