body{
  background-color: rgb(79, 83, 83);
  color: white;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

button{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 5rem;
  height: 2.5rem;
  line-height: 35px;
  text-align: center;
}